language: php

php:
  - 5.3
  - 5.4
  - 5.5

before_install:
  - composer self-update
  - composer install --dev -n --prefer-source

script:
  - ./vendor/bin/phpunit

notifications:
  email:
    recipients:
      - craig@there4development.com
    on_success: change
    on_failure: always
